/* common css */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.ls-2{
    letter-spacing: 2px;
}
/* banner section */
#banner-section{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#carouselExampleControls{padding: 12% 0;}
#course-section{
    padding: 7%;
}
#join-course{
    padding: 7%;
    margin-bottom: 7%;

} 
#faq-section, #partner-section{
    padding-bottom: 10%;
}
#partner-section img{
    width: 16%;
}
#footer-section{
    padding: 7%;
}
.footer-social-icon a{text-decoration: none;}

/* media query for mobile device */
@media screen and (max-width: 576px){
    .carousel-title{font-size: 20px !important;}
    .carousel-text{font-size: 13px !important;margin-top: 10px !important;}
    .carousel-content button{margin-top: 0px !important;}
    .course{flex-direction: column !important;}
    .course img{width: 100% !important;}
}

/* media query for desktop */
@media screen and (min-width: 992px){
    .carousel-content , .couse-heading{width: 50% !important}
    .faq-heading{width: 60%;}
    .accordion{width: 75%;}
    .join-course-content{flex-direction: row !important;justify-content: space-between !important;}
    .join-course-content h4, .join-course-content p{text-align: left !important;}
}
